#map {
    height: 600px;
}

P{
    padding: 10px;
    background-color: #000000;
    color: chartreuse;
    font-size: larger;
}
body {
    background-color: rgb(148, 192, 201);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(201, 61, 214);
}

